@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter";
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  background: hsl(244, 38%, 16%);
}
.left {
  width: 100%;
  padding: 40px 80px 40px 80px;
  color: white;
}
.header {
  font-family: "Lexend Deca", sans-serif;
}
.left p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 30px;
  margin-top: -30px;
}
.left span {
  color: violet;
}
.left * {
  padding-top: 45px;
}
.stats {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.stats div {
  margin-top: -100px;
}
.stats div p {
  margin-top: -58px;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 14px;
  letter-spacing: 2px;
}
.temp {
  /* margin-left: -2px; */
}

.right {
  background: linear-gradient(
      0deg,
      rgba(170, 92, 219, 0.5),
      rgba(170, 92, 219, 0.5)
    ),
    url(./images/image-header-desktop.jpg);

  width: 100%;
  background-size: cover;
  padding: 85px;
  border-radius: 0px 10px 10px 0;
}

@media screen and (max-width: 1100px) {
  .stats div {
    /* background-color: blue; */
    /* height: 100px; */
    text-align: left;
    width: 100%;
    padding-right: 15px;
  }
  .right {
    margin-left: -52px;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body {
    height: 100%;
    justify-content: center;
  }

  .wrapper {
    flex: 0 1 80%; /* can't grow, can shrink, start at 200px width */
    /* min-width: 0px; */
    padding: 10px;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 50px 50px 50px 50px;
    position: relative;
    border-radius: 10px;
  }
  .right {
    width: auto;
    box-sizing: border-box;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(170, 92, 219, 0.5),
        rgba(170, 92, 219, 0.5)
      ),
      url(./images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 104%;
    padding: 157px;
    margin-left: 0%;
    margin-top: -8px;
    border-radius: 10px 10px 0 0;
  }

  .stats {
    display: flex;
    flex-direction: column;
  }
  .stats div {
    text-align: center;
    padding-bottom: 40px;
  }
}
